<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xml:lang="en" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>VK Auth</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Vocadict" />
  <link rel="stylesheet" href="css/styles.css" />

</head>
<body>
    <script>
        document.location.hash.substr(1).split('&').forEach(function(s){
          var item = s.split('=');
          window.localStorage.setItem(item[0], item[1]);
        });
        window.location.href = "http://vocadict.org/";
        close();
    </script>
</body>
</html>