#player-wrapper.clearfix.pos-r
  #buttons.flt-l
    #btn-set
      i.icon-play
      i.icon-pause

  #now-playing.pos-a
    #label.pos-a Waiting for track...
    #time.pos-a 00:00

  #progress.pos-a
    #load-progress.pos-a
    #play-progress.pos-a
    #tick.pos-a
