#player-wrapper.clearfix.playing
  #buttons.flt-l
    i.icon-play
    i.icon-pause
  #now-playing
    #label Erick Klapton - Embarsa deer Sdw Dsdqww sdsds
    #time 01:23

  #progress
    #load-progress
    #play-progress
    #tick
