@import "vendor/cssframework/css/full.css";
body{background:#f2f2f2;padding-top:43px}
button{color:#fff;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;}
button:hover{background:#4096ee;border-color:#4096ee}
#app-header{border-bottom:solid 1px #ccc;box-shadow:0 0 9px #000;z-index:3;width:100%;top:0}
#logo{color:#fed457;float:left;font-size:20px;font-weight:bold;padding:10px 15px}
#logo:hover{text-shadow:0 0 3px #999;text-decoration:none}
#player{padding:0 10px;float:left;line-height:1;}
#player #mp3-player{margin-top:7px}
.msg{padding:0;opacity:0;width:100%;position:fixed;top:40px;z-index:2;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;box-shadow:0 0 5px #444;}
.msg.visible{opacity:1;padding:5px 10px}
.msg.red{border-bottom:solid 1px #f00}
#search-box{padding:6px 10px 0 0;}
#search-box input{padding:5px}
#search-mp3-list{bottom:0;right:0;width:30%;top:40px}
#track-lists-wrapper{width:70%;top:40px;bottom:0;border-right:solid 1px #ccc}
.tracks-list{font-size:11px;position:relative;}
.tracks-list header{background:#cb252a;color:#fff;font-size:15px;padding:2px 5px;position:relative;}
.tracks-list header .icon-remove{cursor:pointer;display:block;font-style:normal;position:absolute;top:3px;right:2px}
.tracks-list .item{border-bottom:solid 1px #ccc;}
.tracks-list .item .track-line span{margin:4px 0 0 4px}
.tracks-list .item .sub-track{padding-left:30px}
.silver-step-gradient{background:#fafafa;background:-moz-linear-gradient(top,#fafafa 0%,#e0e0e0 50%,#d1d1d1 51%,#d1d1d1 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(50%,#e0e0e0),color-stop(51%,#d1d1d1),color-stop(100%,#d1d1d1));background:-webkit-linear-gradient(top,#fafafa 0%,#e0e0e0 50%,#d1d1d1 51%,#d1d1d1 100%);background:-o-linear-gradient(top,#fafafa 0%,#e0e0e0 50%,#d1d1d1 51%,#d1d1d1 100%);background:-ms-linear-gradient(top,#fafafa 0%,#e0e0e0 50%,#d1d1d1 51%,#d1d1d1 100%);background:linear-gradient(#d1d1d1 bottom,#fafafa 0%,#e0e0e0 50%,#d1d1d1 51%,#d1d1d1 100%)}
.red-step-gradient,.msg.red{background:#ff1a00;background:-moz-linear-gradient(top,#ff1a00 0%,#ff897c 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff1a00),color-stop(100%,#ff897c));background:-webkit-linear-gradient(top,#ff1a00 0%,#ff897c 100%);background:-o-linear-gradient(top,#ff1a00 0%,#ff897c 100%);background:-ms-linear-gradient(top,#ff1a00 0%,#ff897c 100%);background:linear-gradient(#ff897c bottom,#ff1a00 0%,#ff897c 100%);color:#fff;text-shadow:1px 1px 0 #a00}
.blue-step-gradient,.msg.blue{background:#e0f3fa;background:-moz-linear-gradient(top,#e0f3fa 0%,#b6dffd 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e0f3fa),color-stop(100%,#b6dffd));background:-webkit-linear-gradient(top,#e0f3fa 0%,#b6dffd 100%);background:-o-linear-gradient(top,#e0f3fa 0%,#b6dffd 100%);background:-ms-linear-gradient(top,#e0f3fa 0%,#b6dffd 100%);background:linear-gradient(#b6dffd bottom,#e0f3fa 0%,#b6dffd 100%);text-shadow:1px 1px 0 #fff}
#logo{color:#444}
button{width:30px}
.tracks-list .item.active{background:#dbdbdb}
