
<header id="app-header" class="silver-step-gradient flt-l pos-f"><a id="logo" href="/">Vocadict</a>
  <div id="player"><small>Now plaing:<span></span></small><br/>
    <object id="mp3-player" type="application/x-shockwave-flash" data="player/player.swf" width="500" height="16">
      <param name="movie" value="player/player.swf"></param>
      <param name="bgcolor" value="#d1d1d1"></param>
      <param name="FlashVars" value="mp3=&amp;width=500&amp;height=16&amp;lvolume=175&amp;showstop=1&amp;showvolume=1&amp;showloading=always&amp;sliderheight=12&amp;volumewidth=60&amp;volumeheight=12&amp;loadingcolor=309dcf&amp;bgcolor1=d1d1d1&amp;bgcolor2=d1d1d1&amp;slidercolor1=BCBCBC&amp;slidercolor2=DFE5D7&amp;sliderovercolor=309dcf&amp;buttonovercolor=309dcf"></param>
    </object>
    <div id="mp3-list"></div>
  </div>
</header>
<div id="messages" class="msg"></div>
<div id="app-body" class="flt-l w100 pos-r">
  <div id="track-lists-wrapper" class="pos-f scrl"></div>
  <div id="search-mp3-list" class="pos-f scrl"></div>
</div>