.item
  border-bottom solid 1px #ccc
  multiprop(transition, .3s)

  .track-line
    .buttons
      float left
      margin-right 5px
    .labels
      padding 4px 0
    .subs
      font-size 11px
      margin-left 5px
      float right

  &:hover
    background #f0f0f0

  &.active
    background rgb(219, 219, 219)

  .sub-track
    padding-left 30px