@import "defaults"

.tracks-list
  font-size 12px
  position relative

  header
    background #00B74A
    color #fff
    font-weight bold
    font-size 15px
    padding 2px 5px
    position relative
    multiprop(text-shadow, 1px 1px 0px #007730)

    .icon-remove
      cursor pointer
      display block
      font-style normal
      position absolute
      top 4px
      right 4px