Now plaing: <%= title %>
<object type="application/x-shockwave-flash" id="mp3-player" data="player/player.swf" width="300" height="20">
    <param name="movie" value="player/player.swf">
    <param name="bgcolor" value="#ffffff">
    <param name="FlashVars" value="width=300&amp;autoload=1&amp;volume=75&amp;showstop=1&amp;showvolume=1&amp;showloading=always&amp;buttonwidth=30&amp;sliderheight=12&amp;volumewidth=50&amp;volumeheight=8&amp;loadingcolor=ffffff&amp;bgcolor1=aaaaaa&amp;bgcolor2=bbbbbb&amp;slidercolor1=dddddd&amp;slidercolor2=dddddd&amp;sliderovercolor=ffffff&amp;buttonovercolor=dddddd">
</object>
<div id="mp3-list">
</div>