@import "defaults"

body
  background #f2f2f2
  padding-top 43px

button
  color #fff
  multiprop(transition, .3s)

#app-header
  border-bottom solid 1px #ccc
  box-shadow 0 0 9px #000
  z-index 3
  width 100%
  top 0

#logo
  color #FED457
  float left
  font-size 20px
  font-weight bold
  padding 10px 15px

#logo:hover
  text-shadow 0 0 3px #999
  text-decoration none

#player
  border-left 1px solid #78A68F
  padding 0 10px
  float left
  line-height 1

#player object#mp3-player
  margin-top 7px

.msg
  padding 0
  opacity 0
  width 100%
  position fixed
  top 40px
  z-index 2
  -webkit-transition .3s
  -moz-transition .3s
  -o-transition .3s
  transition .3s
  box-shadow 0 0 5px #444

.msg.visible
  opacity 1
  padding 5px 10px

.msg.red
  border-bottom solid 1px red

#search-box
  padding 6px 10px 0 0

  input
    padding 5px

#track-lists-wrapper
  width 70%
  top 40px
  bottom 0
  border-right solid 1px #ccc

.tracks-list
  font-size 11px
  position relative
  
  .track-line
    border-bottom solid 1px #ccc

    article
      display inline-block
      width 369px
      vertical-align top
    
    button
      width 30px

  .tracks-list
    margin-left 30px

  header
    background #CB252A
    color #fff
    font-size 15px
    padding 2px 5px
    position relative

    .icon-remove
      cursor pointer
      display block
      font-style normal
      position absolute
      top 4px
      right 4px

  div
    .item
      cursor pointer

    &.active
      border-bottom solid 2px #CB252A

    &.active>.track-line
      border-bottom solid 1px #CB252A
      background #CBD49C

    .hovered
      background #D9B343

      button
        background #fff
        border solid 1px #fff
        color #D9B343

#search-mp3-list
  bottom 0
  right 0
  width 30%
  top 40px

