.silver-step-gradient
  vertical_step_gradient(#e0e0e0, #d1d1d1)

.red-step-gradient,
.msg.red
  vertical_gradient(#ff1a00, #ff897c)
  color #fff
  text-shadow 1px 1px 0 #A00

.blue-step-gradient,
.msg.blue
  vertical_gradient(#e0f3fa, #b6dffd)
  text-shadow 1px 1px 0px #fff

#logo
  color: #444

button
  width 30px

.tracks-list .item.active
  background rgb(219, 219, 219)