header#app-header.silver-step-gradient.flt-l.pos-f
  a#logo(href="/") Vocadict
  div#player
    small Now plaing:
      span
    br
    object#mp3-player(type="application/x-shockwave-flash", data="player/player.swf", width="500", height="16")
      param(name="movie", value="player/player.swf")
      param(name="bgcolor", value="#d1d1d1")
      param(name="FlashVars", value="mp3=&amp;width=500&amp;height=16&amp;lvolume=175&amp;showstop=1&amp;showvolume=1&amp;showloading=always&amp;sliderheight=12&amp;volumewidth=60&amp;volumeheight=12&amp;loadingcolor=309dcf&amp;bgcolor1=d1d1d1&amp;bgcolor2=d1d1d1&amp;slidercolor1=BCBCBC&amp;slidercolor2=DFE5D7&amp;sliderovercolor=309dcf&amp;buttonovercolor=309dcf")

    div#mp3-list

div#messages.msg

div#app-body.flt-l.w100.pos-r
  div#track-lists-wrapper.pos-f.scrl
  div#search-mp3-list.pos-f.scrl