<div class="track-line" data-type="vk">
    <button class="icon-play flt-l"></button><button class="icon-heart flt-l"></button>
    <span>
      <% if (typeof(artist) === 'string') { %>
        <strong><%= artist %></strong>
      <% } %>
      <% if (typeof(artist) === 'object') { %>
        <strong><%= artist.name %></strong>
      <% } %>

      <% if (typeof(title) !== 'undefined') { %>
        - <%= title %>
      <% } %>
      <% if (typeof(name) !== 'undefined') { %>
        - <%= name %>
      <% } %>
</div>